@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Manrope-Regular";
    font-weight: 400;
    src: url("/fonts/Manrope-Regular.ttf") format("truetype");
  }

  .container {
    @apply w-full h-full p-5;
  }
}

* {
  font-family: "Manrope-Regular";
}

.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
